*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 85%;
}

.shades{
  background-color: red;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,10%);
  grid-template-rows: repeat(auto-fill,10%);
  animation-name: LeftToRight ;
  animation-duration: 0.3s;

}

.shade-search{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.shade-input{
  border: none;
  /* background-color: #e9e9e9; */
  padding: 0.3rem 0.5rem;
  border-bottom: 1px solid black;
  background: transparent;
  text-align: center;
}

.shade-input:focus{
  outline: none;
}

.shade{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.copied{
  animation-name: copied ;
  animation-duration: 0.3s;
}

@keyframes copied{
  0%{
    opacity: 0;
    font-size: 0;
  }
  100%{
    opacity: 1;
    font-size: 1rem;
  }
}

@keyframes LeftToRight{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@media screen and (max-width: 767px){
  .shades{
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(100,20%);
  }
}

@media screen and (max-width: 600px){
  .shades{
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(100,20%);
  }
}